* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

p {
  font-family: 'Roboto', sans-serif;
}

header h1 {
  text-transform: lowercase;
  color: white;
  font-size: 3em;
}

header h3 {
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  font-weight: 400;
}

h2 {
  background-color: #FA382F;
  display: inline;
  color: white;
  padding: 6px;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 3em;
}


/* HEADER/HERO */

.hero-wrapper {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

header {
  height: 420px;
  width: 100%;
  background-image: url('blue-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.presentation {
  align-self: center;
  width: 30%;
}

.nav-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav {
  margin-top: 30px;
  margin-bottom: 115px;
  display: flex;
  justify-content: flex-end;
}

.profile-pic {
  height: 240px;
  border-radius: 100%;
  border: white solid;
}

.icon-img {
  width: 24px;
}

.icon-link {
  padding: 13px;
  border-radius: 100%;
  border: white solid 1.5px;
  margin: 6px;
  width: 24px;
  height: 24px;
}


/* MAIN */

main {
  text-align: center;
  margin: 0 auto;
}

.container {
  height: auto;
  padding: 6em;
}

.container:nth-child(odd) {
  background-color: #F4F4F4;
}

.inner-content {
  width: 60%;
  margin: 0 auto;
}


/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #072BCE;
  height: 300px;
  margin: 0 auto;
}

footer h2 {
  background-color: unset;
}