  body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 2000px;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6rem;
    font-weight: 300;
  }
  
  h1 {
    text-transform: lowercase;
    color: white;
    font-size: 3rem;
    margin: 0;
  }
  
  h2 {
    background-color: #FA382F;
    display: inline;
    color: white;
    padding: 6px;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 3rem;
  }
  
  h3 {
    color: #FA382F;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  
  h4 {
    font-size: 0.9rem;
    color: #FA382F;
    display: inline;
    text-transform: uppercase;
  }
  
  h5 {
    color: white;
    text-transform: lowercase;
    font-size: 1.6rem;
    margin: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .inner-content {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  /* HEADER/HERO */
  
  header h3 {
    text-transform: uppercase;
    color: white;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  .hero-wrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  header {
    height: 400px;
    width: 100%;
    background-image: url('blue-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .presentation {
    align-self: center;
    width: 55%;
  }
  
  .nav-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  nav {
    margin-top: 30px;
    margin-bottom: 110px;
    display: flex;
    justify-content: flex-end;
  }
  
  .profile-pic {
    height: 220px;
    border-radius: 100%;
    border: white solid;
  }
  
  .icon-img {
    width: 24px;
  }
  
  .icon-link {
    padding: 13px;
    border-radius: 100%;
    border: white solid 1.5px;
    margin: 6px;
    width: 24px;
    height: 24px;
  }
  /* MAIN */
  
  main {
    text-align: center;
    margin: 0 auto;
  }
  
  section {
    height: auto;
    padding: 2.5rem;
  }
  
  section:nth-child(odd) {
    background-color: #F4F4F4;
  }
  
  .pitch {
    padding-top: 4rem;
  }
  
  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  
  .projects-wrapper img,
  .thoughts-wrapper img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 15px 0 15px;
  }
  
  .project-container {
    max-width: 45%;
    text-align: left;
  }
  
  .project-container img,
  .thought-container img {
    width: 100%;
  }
  
  .project-container p,
  .thought-container p,
  .more-thoughts p {
    display: inline;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tags p {
    background-color: #FDDFE7;
    margin: 15px 4px 4px 0px;
    padding: 2px 9px;
    font-size: 0.9em;
  }
  
  .other-projects .project-container {
    max-width: unset;
    margin-bottom: 20px;
  }
  
  .thoughts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  
  .thought-container {
    width: 45%;
    text-align: left;
  }
  
  .more-thoughts {
    text-align: left;
  }
  
  .more-thoughts div {
    margin: 1.2em;
  }
  
  .skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .skills-container div {
    flex-basis: 30%;
    margin-bottom: 2rem;
  }
  
  .for-more-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  
  .icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .for-more .icon-img {
    width: 34px;
  }
  
  .for-more .icon-link {
    padding: 27px;
    border: #FA382F solid 2px;
    width: 34px;
    height: 34px;
  }
  /* FOOTER */
  
  footer {
    text-align: center;
    background-color: #072BCE;
    height: 300px;
    padding-top: 1rem;
  }
  
  footer h2,
  footer p {
    background-color: unset;
    color: white;
  }
  /* MEDIA QUIERIES */
  /* tablet */
  /* mobile */